<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petplatform.order.biz.infrastructure.persistence.mapper.OrderCredentialMapper">
<select id="locate" resultType="com.petplatform.order.biz.infrastructure.persistence.mapper.OrderCredentialMapper$Location">SELECT id,user_id,merchant_id,store_id,reservation_id FROM pet_order WHERE id=#{id}</select>
</mapper>
